parameters:
    level: 7
    excludePaths:
            - 'src/Spryker/Client/SymfonyMessenger/Worker/Worker.php'
    ignoreErrors:
        - '#Method .+\\SymfonyMessengerFactory::getInstalledTransportFactories\(\) return type with generic interface Symfony\\Component\\Messenger\\Transport\\TransportFactoryInterface does not specify its types: TTransport#'
